*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F8F8F8;
    font-size: 18px;
    font-family: "TT Lakes", "Verdana", sans-serif;
}
.container{
    display: flex;
    flex-wrap: nowrap;
}
.aside{
    background-color: #ffffff;
    width: 300px;
    height: 755px;
    flex-shrink: 0;
}
.aside__logo{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
    width: 250px;
    height: 100px;
}
.aside__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    
}
.aside__nav a{
    color: #1B1C21;
    padding: 10px 20px;
    text-decoration: none;
    height: 50px;
}
.aside__nav a:hover{
    border-left: 5px solid #41F6D7;
    transition: ease-out 0.3s;
}
.aside__nav .nav__link_active{
    color: #a0a0a3;
    border-left: 5px solid #41F6D7;
}

.aside__connection{
    width: 250px;
    margin-top: 90px;
}
.aside__connection .connection__link{
    width: 180px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.aside__connection a{
    color: black;
    text-decoration: none;
}
.aside__connection .aside__support{
    margin-left: 20px;
    margin-top: 20px;
}
.aside__language{
    margin-top: 25px;
}
.aside__language .color{
    color: #7E7E82
}
.checkbox-none{
    display: none;
}
.header__menu-page{
   display: flex;
   justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}
.menu__page-burger{
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    margin-top: 10px;
}
.line-1{
    background-color:#EAEAEA;
    width: 3px;
    height: 40px;
}
.logo{
    width: 100%;
}
.menu__page-nav{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    margin-top: 10px;
}
.menu__page-nav img{
    width: 100%;
}
.menu__logo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}
.menu__logo span{
    background: #41F6D7;
    position: absolute;
    width: 4px;
    height: 40px;
    border-radius: 2px;
}
.menu__logo h1{
    margin-left: 20px;
}
.menu__nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 450px;
    margin-top: 10px;
}
.menu__nav a{
    text-decoration: none;
    color:#1B1C21;
}
.menu__nav a:hover{
    color: #41F6D7;
    transition: 0.3s;
}
.nav__application{
    position:relative;
}
.nav__repair{
    position: relative;
}
.nav__application::after{
    content: '';
    position: absolute;
    text-decoration: none;
    background-image: url("./img/repair.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    right: -35px;
    top: -5px;
    width: 30px;
    height: 30px;
}
.nav__repair::after{
    content: '';
    position: absolute;
    text-decoration: none;
    background-image: url("./img/checkstatus.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    right: -35px;
    top: -5px;
    width: 30px;
    height: 30px;
}
.slide__link{
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin-top: 70px;
    font-size: 18px;
    overflow: hidden;
    margin-left: 10px;
    font-size: 19px;

}

.slide__link a:hover{
    border: 1px solid #41F6D7;
    transition: all 0.5s; 
}
.slide__link a{
    display: inline-block;
    color:#7E7E82;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 5px;
    height: 40px;
    box-sizing: border-box;
}
.section{
    margin: 80px 50px;
    color: #1B1C21;
    display: flex;
}
.logo-img{
    width: 60%;
}
.logo-img img{
    width: 100%;
    border-radius: 5px;
}
.bottom{
    margin-bottom: 30px;
}
.representation{
    display: inline;
    margin-top: 19px;
    margin: 0 20px;
    font-size: 18px;
    width: 80%;
}
.representation__more{
-webkit-appearance: none;
}
.representation__more:checked ~ .checked     .checked__more{
    display: none; 
}
.checked :nth-child(1){
    display:none;
    margin-top: 10px;
}
.representation__more:checked ~   .checked :nth-child(1){
    display: inline-block;
}
.representation__more:checked + p{
    height: 23px;
    overflow: hidden;
}
.checked__down{
    position: relative;
    right: -15px;
}
.checked__down::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 25px;
    left: -25px;
    top: -4px;
    background-image: url("./img/expand.png");
    background-repeat: no-repeat;
    background-size: 30px;
}
.checked__more::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 25px;
    left: -10px;
    top: -4px;
    background-image: url("./img/expand.2.png");
    background-repeat: no-repeat;
    background-size: 30px;
}
.checked__more{
    position: relative;
    margin-top: 10px;
    display: inline-block;
    padding-left: 15px;
}
